.App {
  background-image: url('../public/img/fondo.png');
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 8px;
  height: 5%;
}

.anotador-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.equipos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.equipo-individual {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  -webkit-text-stroke: 1.2px rgb(0, 0, 0);
  font-family:sans-serif;
  color: rgb(255, 255, 255)
}

.botones-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.reinicio-container {
  margin: 10px auto;
}
